In [1]:
# %pip install pandas
# %pip install datasets

In [2]:
import pandas as pd
from datasets import load_dataset

c:\Repositories\proai\course3-ml-basics\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [15]:
#caricamento con huggingface.datasets

# ds = load_dataset("Kwaai/IMDB_Sentiment")
# df = ds['train'].to_pandas()

In [4]:
BASE_URL = "https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/refs/heads/main/datasets/"

df = pd.read_csv(BASE_URL + "shirts_sold.csv", index_col=0)

df.head(10)

  taglia  colore  prezzo venduta
0      S  bianco    4.99      NO
1      M  bianco   19.99      SI
2     XL  bianco   12.49      NO
3     XL  bianco   14.99      NO
4      S  bianco   14.99      SI
5      S   verde    7.99      NO
6      M   verde    4.99      SI
7      L   verde   12.49      NO
8     XL  bianco   12.49      NO
9      M   verde   19.99      NO

In [5]:
#define basic maps and apply ordinal encoding:

size_map = {size: i for i, size in enumerate(df['taglia'].unique())}
df['taglia'] = df['taglia'].map(size_map)

df.head(10)

   taglia  colore  prezzo venduta
0       0  bianco    4.99      NO
1       1  bianco   19.99      SI
2       2  bianco   12.49      NO
3       2  bianco   14.99      NO
4       0  bianco   14.99      SI
5       0   verde    7.99      NO
6       1   verde    4.99      SI
7       3   verde   12.49      NO
8       2  bianco   12.49      NO
9       1   verde   19.99      NO

In [6]:
#one hot enconding con pandas

df = pd.get_dummies(df, columns=['colore'])

venduta = df['venduta']
df.drop('venduta', axis=1, inplace=True)
df = pd.concat([df, venduta], axis=1)

df.head(10)

   taglia  prezzo  colore_bianco  colore_rosso  colore_verde venduta
0       0    4.99           True         False         False      NO
1       1   19.99           True         False         False      SI
2       2   12.49           True         False         False      NO
3       2   14.99           True         False         False      NO
4       0   14.99           True         False         False      SI
5       0    7.99          False         False          True      NO
6       1    4.99          False         False          True      SI
7       3   12.49          False         False          True      NO
8       2   12.49           True         False         False      NO
9       1   19.99          False         False          True      NO

In [ ]:
#label enconding con pandas (variabili categoriche sconnesse)

sold_map = {'NO': 0, 'SI': 1}

df['venduta'] = df['venduta'].map(sold_map)

#eventualmente gestibile con sklearn.preprocessing.LabelEncoder

df.head()

   taglia  prezzo  colore_bianco  colore_rosso  colore_verde  venduta
0       0    4.99           True         False         False        0
1       1   19.99           True         False         False        1
2       2   12.49           True         False         False        0
3       2   14.99           True         False         False        0
4       0   14.99           True         False         False        1

In [10]:
# Gestire valori mancanti

if(df.isna().sum().sum() > 0): #ci sono valori mancanti?

    df.loc[:, df.columns != "venduta"].fillna(df.mean(), inplace=True, ) #sostituisco i valori mancanti con la media, ignoro variabile dipendente

#eventualmente gestibile con SimpleImputer di sklearn

df.head(10)

   taglia  prezzo  colore_bianco  colore_rosso  colore_verde  venduta
0       0    4.99           True         False         False        0
1       1   19.99           True         False         False        1
2       2   12.49           True         False         False        0
3       2   14.99           True         False         False        0
4       0   14.99           True         False         False        1
5       0    7.99          False         False          True        0
6       1    4.99          False         False          True        1
7       3   12.49          False         False          True        0
8       2   12.49           True         False         False        0
9       1   19.99          False         False          True        0

In [ ]:
#normalizzazione delle variabili continue

df['prezzo'] = (df['prezzo'] - df['prezzo'].min()) / (df['prezzo'].max() - df['prezzo'].min()) #normalizzazione min-max

#df['prezzo'] = (df['prezzo'] - df['prezzo'].mean()) / (df['prezzo'].std()) #normalizzazione standard (standardizzazione)

df.head(10)

   taglia    prezzo  colore_bianco  colore_rosso  colore_verde  venduta
0       0  0.000000           True         False         False        0
1       1  1.000000           True         False         False        1
2       2  0.500000           True         False         False        0
3       2  0.666667           True         False         False        0
4       0  0.666667           True         False         False        1
5       0  0.200000          False         False          True        0
6       1  0.000000          False         False          True        1
7       3  0.500000          False         False          True        0
8       2  0.500000           True         False         False        0
9       1  1.000000          False         False          True        0